.full-rounded {
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  &--column {
    @extend .flex-center;
    flex-direction: column;
  }

  &--row {
    @extend .flex-center;
    flex-direction: row;
  }
}
