<<<<<<< HEAD
// .carousel {
//   border: 2px solid red;
// }
=======
.carousel {
  border: 2px solid red;
}
>>>>>>> 7567df814b720e05abb8ec2a7cf055d2e4ad65d3

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  color: $custom-brown;
  opacity: 1;
}

.carousel-item {
  min-height: 300px;
  transition: 0;
}

.carousel-item.active {
  display: flex;
}
<<<<<<< HEAD

.card {
  height: 100%;
}

@include media-breakpoint-up(md) {
  .carousel-inner {
    padding: 1rem;
  }

  // .card {
  //   border-radius: 0;
  //   box-shadow: $custom-box-shadow;
  // }
}
=======
>>>>>>> 7567df814b720e05abb8ec2a7cf055d2e4ad65d3
