//========MEDIUM SCREEN QUERIES=========/
@include media-breakpoint-down(md) {
  section {
    height: 100vh;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }
  .social {
    margin: 0 auto;
  }

  #landing {
    background-color: $warning;
    padding-top: 1.5rem;
  }

  .image-container {
    order: -1;
    margin-bottom: 4%;
    img {
      display: block;
      border-radius: 50%;
      box-shadow: $custom-box-shadow;
      max-height: 55vh;
      margin: 0 auto;
    }
  }

  #what-i-do {
    padding: 1rem 0
  }
}

@include media-breakpoint-up(md) {
  #topNav {
    padding: 2rem 1rem;
  }

  #landing {
    padding-top: 3rem;
  }

  .background {
    clip-path: polygon(0 0, 62% 0, 56% 100%, 0% 100%);
  }

  .image-container {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 3% 100%);
    padding-right: 0;
  }

  .cta {
    background-color: $light-gray;
  }

  #what-i-do {
    padding-top: 2.5rem
  }
}
