//custom variables
$text-color: #343a40;
$custom-brown: #946b40;
$custom-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.275);
$light-gray: #e9e9e9;
// bootstrap variables override
$body-color: $text-color;
$link-decoration: none;
$link-color: $custom-brown;
$light: #fefefe;
$warning: #f5bd42;
$primary: $custom-brown;
$secondary: $light-gray;



@import 'general';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'responsive';

.btn {
  border-radius: 0;
}

.nav-link:hover {
  text-decoration: underline overline;
}

// ===========HEADER=========
header {
  text-transform: uppercase;
}

#topNav {
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-logo {
  height: 40px;
}

.nav-link.active,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $custom-brown;
  border-radius: 0;
}

#mobileNav {
  ul {
    align-items: center;
    padding-top: 2rem;
  }
  li {
    margin-bottom: 1rem;
  }
}

// ===========LANDING SECTION==========

#landing .row {
  position: relative;
}

.background {
  position: absolute;
  height: 100%;
  width: calc(100% - 3rem);

  z-index: -5;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//==========WHAT-I-DO SECTION ===========/
#what-i-do {
  min-height: 100vh;
  height: 100%;
}


.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}